body {
    background-color: #788a7e;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.navbar li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.navbar {
    padding: 0;
    text-align: center;
    background-color: black;
  }
  ul.navbar li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }

  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .header-img {
      position:relative;
      display: inline-block;
      max-width: 60%;
  }
  
  .header-img img {
    max-width:100%;
    max-height:100%;

    display: block;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 5px #222);
  }

  .pickgradient{
    position:relative;
    display:inline-block;
  }
  
  .pickgradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    border-radius: 20px;
  }

  .header-img-text {
    position: absolute;
    left: 30%;
    top: 75%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    z-index: 1;
    filter: drop-shadow(5px 5px 5px #222);
  }